a {
  text-decoration: none;
  color: #b56cb5;
}

#componente__carrito {
  top: 50px;
  margin: 20px;
}

.carrito__item {
  display: inline-block;

  margin: 0 10px 10px 0;
  padding: 20px;
  background-color: #fff;
  color: grey;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
}

.carrito__item .columna-1 {
  display: flex;
  flex-direction: column;
}

.carrito__item .columna-1 .columna-1-grupo1 {

}

.carrito__item .columna-1 .columna-1-grupo1 .item-img {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-color: pink;
}

.carrito__item .columna-1 .columna-1-grupo1 img {

}

.carrito__item .columna-1 .columna-1-grupo1 h3 {
  margin: 10px 0;
  font-weight: normal;
}

.carrito__item .columna-1 .columna-1-grupo2 .item-precio {
  min-width: 50px;
}

.carrito__item .columna-1 .columna-1-grupo2 .item-precio span {
  font-weight: bold;
  text-align: left;
}

.carrito__item .columna-1 .columna-1-grupo3 .item-cantidad {
  margin: 10px 0;
}

.carrito__item .columna-1 .columna-1-grupo3 .item-cantidad button {
  width: 20px;
  text-align: center;
}

.carrito__item .columna-1 .columna-1-grupo3 .item-cantidad input {
  width: 20px;
  text-align: center;
}
