* {
  margin: 0;
  padding: 0;
}

body {
  color: red;
  background-color: #e7e7e7;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#content_container {
  margin-top: 75px;
}
